body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.timer-box {
  background: #1e293b;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#mode {
  font-size: 26px;
  margin-bottom: 20px;
}

#time {
  font-size: 48px;
  margin-bottom: 25px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:first-child {
  background: #22c55e;
  color: black;
}

button:last-child {
  background: #ef4444;
  color: white;
}
